.SpinnerContainer {
  display: flex;
  justify-content: center;
}

.spinner {
  font-size: 40px;
  animation: spin 1s linear infinite;
  margin: 20px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
