:root {
  --base-color: #fff8f0;
  --primary-color: #ab8b67;
  --accent-color: #ffa500;
  --neutral-color: rgb(243, 241, 241);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}

/***************************** PHONE SCREENS PADDING ***************************************/

@media screen and (max-width: 500px) {
  .content-wrapper {
    padding: 20px 16px;
  }
}

/**************************** TABLETS SCREENS PADDING *************************************/

@media screen and (min-width: 501px) and (max-width: 968px) {
  .content-wrapper {
    padding: 20px 24px;
  }
}

/***************************** DESKTOP / X-LARGE SCREENS PADDING ***************************/

@media screen and (min-width: 969px) {
  .content-wrapper {
    padding: 20px 48px;
  }
}
